
<%= csrf_meta_tags %>
<h1>Sign Up</h1>
<%= @error %>
<%= form_with scope: :student, url: student_signup_path, local: true do |f| %>


 <p>
    <%= f.label :name %>:<br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :Admission_No %>:<br>
    <%= f.number_field :admno %>
  </p>

 <p>
    <%= f.label :Branch %>:<br>
    <%= f.text_field :branch %>
  </p>

  <p>
    <%= f.label :CGPA %>:<br>
    <%= f.number_field :cgpa %>
  </p>

   <p>
    <%= f.submit %>
  </p>
  <p>
  <%= @error %>
<% end %>

 
 
