<h1>File uploading</h1>

<%= form_with scope: :form_validation, url: form_validation_signup_path, local: true do |f| %>


 <p>
    <%= f.label :name %>:<br>
    <%= f.text_field :name %>
  </p>

  
  <p>
    <%= f.submit %>
  </p>
  <p>
  <%= @error %>
<% end %>

